version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      -  SMTP_HOST=stmp.gmail.com
      -  SMTP_PORT=587
      -  SMTP_USER=alem.asaubaev@gmail.com
      -  SMTP_PASSWORD=uphp lowf mdix jjvp
    volumes:
      - ./questions:/app/questions
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    env_file:
      -  .env

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://backend:8000
    command: npm run dev -- --host 0.0.0.0
